<h1>Whom you would like to say 'thank you' today?</h1>

<ul>
  {{#each model.coworkers as |coworker| }}
      <li>{{link-to coworker.fullName 'dashboard.index.coworker' coworker}}</li>
  {{/each}}
</ul>

{{outlet}}