<h1>about this app</h1>

<p>
    Merit Money is an application for giving kudos to co-workers.
    Every Monday each co-worker gets 20 kudos to spend. Undistributed kudos are lost on Sunday at midnight.
    There is no restrictions.
    For example Wolly can give 5 kudos to James because he helped him with solving very difficult task.
    On the other side Sue can give Alice one kudo (or ’x’ kudos) just for the sake of being nice to others.
    It is up to you. It should be up to you. The more the freedom and free rein, the more powerful the idea is.
    The idea tries to solve the difficult problem of giving bonuses to employees.
</p>

<a href="http://selleo.com/blog/360-degree-feedback-system-monetary-rewards" target="_blank">more info could be found</a>